doctype html
html
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/iconfont.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    block content
    script(src='/javascripts/packages.js')
    script(src='/javascripts/bundle.js')
